<div class="menu-Container">
    <div class="menu-Flex-Container">
        <div id="left"></div>
        <div id="center">
            <nav>
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/partners">Partners</a>
                <a href="/contact">Contact</a>
                <a href="/about">About</a>
            </nav>
        </div>
        <div id="right">
            <nav>
                <a href="/login">Loginaaaaaaaaaaaaa</a>
            </nav>
        </div>
    </div>
</div>