<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>OLMA</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="shortcut icon" href="/img/logotype.png" type="image/x-icon">
</head>

<body>
    {{> menu}}
    {{{body}}}
</body>

</html>