<div class="main">
    <br>
    <div class="centerAlignText">
        <h1 style="font-size: 35px">About Us</h1>
        <br>
        <div style="font-size: 20px;">
            <p>Established in 1988 in the heart of Småland - Sweden, OLMA has been a trusted provider of top-quality
                tractor tires for over three decades. We are proud to have built a reputation for delivering reliable
                and durable tire solutions to farmers, contractors, and tractor enthusiasts in the region and beyond.
            </p>
            <p>As a company deeply rooted in Småland's rich heritage, we embrace the values of hard work, innovation,
                and customer satisfaction. Our mission is to equip tractor owners with the best tires available,
                ensuring optimal performance and efficiency in any agricultural task.</p>
            <p>At OLMA, we understand that choosing the right tires for your tractor is crucial. That's why we offer an
                extensive range of high-quality tires from reputable brands, designed to meet the diverse needs of our
                customers. Whether you require superior traction for challenging terrains or long-lasting durability for
                heavy-duty use, we have the perfect tire solution for you.</p>
            <p>With our team of experienced professionals, we provide personalized assistance and guidance to help you
                find the ideal tire match for your specific needs. We pride ourselves on our commitment to excellent
                customer service, and we strive to build long-term relationships with our valued clients.</p>
            <p>Over the years, we have continuously evolved and adapted to the ever-changing needs of the agricultural
                industry. Our passion for tractors and tires drives us to stay up to date with the latest advancements
                in tire technology, ensuring that we offer the most innovative and efficient solutions available.</p>
            <p>Thank you for considering OLMA as your trusted tire supplier. Explore our website or contact us today to
                discover the superior performance and reliability our tires bring to your tractor.</p>
        </div>
        <img src="/img/tractor2.png" alt="Picture of a tractor" width="800">
    </div>
</div>