<div class="main">
    <div class="Logotype">
        <img src="/img/Logotype_WhiteBackground.png" alt="Company logo" class="centerImage" width="300" height="300">
    </div>
    <div class="quote-container">
        <h1 style="margin-top: 0px; text-align: center; padding-top: 120px;"><i>Trusted by farmers worldwide for durable
                and reliable tires</i></h1>
    </div>
    <div class="flex-Container">
        <div>
            <a href="/products" class="homePage-Photo-Links">
                <img src="/img/products.png" alt="" width="200" height="200">
                <h1 style="text-align: center;">Products</h1>
            </a>
        </div>
        <div>
            <a href="/partners" class="homePage-Photo-Links">
                <img src="/img/partners.jpg" alt="" width="200" height="200">
                <h1 style="text-align: center;">Our Partners</h1>
            </a>
        </div>
        <div>
            <a href="/contact" class="homePage-Photo-Links">
                <img src="/img/contactUs.png" alt="Contact us image" width="200" height="200">
                <h1 style="text-align: center;">Contact us</h1>
            </a>
        </div>
        <div>
            <a href="/about" class="homePage-Photo-Links">
                <img src="/img/aboutUs.png" alt="" width="200" height="200">
                <h1 style="text-align: center;">About us</h1>
            </a>
        </div>
    </div>
</div>