<div class="main" style="margin-left: 5%; margin-right: 5%">
    <br>
    <h1 class="centerAlignText" style="font-size: 35px">Our Partners</h1>
    <p style="font-size: 20px;">
        At OLMA, we value collaboration and strong partnerships. We are proud to work with top tractor tire
        manufacturers to offer a comprehensive range of high-quality tires. Our dealer partners help us distribute
        our
        products efficiently, while research and development partnerships enable us to innovate and continuously
        improve
        our tire solutions. Together with our partners, we strive to provide our customers with reliable, durable,
        and
        efficient tractor tires that deliver exceptional performance in any terrain.
    </p>
    <div class="flex-PartnerList-Container">
        {{#each partnerList}}
        <div>
            <a href="{{bLink}}"><img src="{{bImg}}" height="100px"></a>
            <p>{{bDesc}}</p>
        </div>
        {{/each}}
    </div>


</div>