body {
	background-color: rgb(239, 239, 239);
	margin: 0px;
}
.menu-Container {
	position: fixed;
	top: 0px;
	Width: 100%;
}
.menu-Flex-Container {
	display: flex;
	background-color: grey;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.menu-Flex-Container nav a {
	padding: 14px;
	color: white;
}
.menu-Flex-Container nav a:hover {
	background: #ddd;
	color: black;
}
.menu-Flex-Container #left {
	flex: 2;
}
.menu-Flex-Container #right {
	flex: 2;
	text-align: right;
	padding-right: 10px;
}

.main {
	margin-top: 38px;
}


.quote-container {
	background: url('/img/tractor.png');
	height: 400px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	color:white;
	margin-bottom: 50px;
}
.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.Logotype {
	background-color: white;
	margin: 0px;
	left: 0px;
}
.flex-Container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.homePage-Photo-Links {
	color: black;
	text-decoration: none;
}
.centerAlignText {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}
.flex-ProductList-Container{
	display: flex;
	flex-direction: column;
}
.flex-PartnerList-Container {
	display: flex;
	flex-direction: row;
	/*justify-content: space-evenly;*/
	flex-wrap: wrap;
	gap: 20px;
}